<form #form="ngForm" (ngSubmit)="onSave(form)" class="quote-form">
  <mat-form-field>
    <textarea matInput
              placeholder="Enter Quote"
              name="title"
              [(ngModel)]="quote.title"
              required
              #title="ngModel"></textarea>
    <mat-error *ngIf="title.invalid && (title.touched || title.dirty)">
      Please Enter Quote
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput
           placeholder="Enter Author"
           name="author"
           [(ngModel)]="quote.author"
           required
           #author="ngModel"/>
    <mat-error *ngIf="author.invalid && (author.touched || author.dirty)">
      Please Enter Author
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Save</button>
</form>
